@use '../../../../../base/variables';

.imgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  background-color: var(--primary-bg-color);
  position: relative;
  overflow: hidden;

  .imageDiv {
    display: flex;
    justify-content: center;
    .bgRemovedImg {
      background-image: url(../../../../../assets/checkBoardBg.png);
      object-fit: contain;
    }
  }

  .closeBtnDiv {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
