@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;

  .editPanelDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
    right: 100px;
    transition: 400ms;
  }

  .downloadContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 250px;
    left: 250px;

    .downloadPanel {
      position: absolute;
      top: 70px;
    }
  }
}
