.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 1;

  .colorPickerDiv {
    position: absolute;
  }

  .colorsDiv {
    display: flex;
    justify-content: center;
  }
}
