.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  position: relative;
  bottom: 310px;
  left: 310px;

  .colorPickerDiv {
    position: absolute;
    bottom: 50px;
    right: -130px;
  }

  .colorsDiv {
    display: flex;
    justify-content: flex-start;
  }
}
