.container {
  width: 100%;
  .headerImageDiv {
    position: relative;
    top: 95px;
    right: 450px;

    .headerImage {
      width: 80px;
    }
  }
  .headerTextDiv {
    position: relative;
    font-family: 'Gabarito', sans-serif;

    .headerText {
      font-size: 80px;
    }
    .title {
      color: rgba(0, 0, 0, 0.543);
    }
  }
}
