@use '../../base/variables';

.imgContainer {
  width: 640px;
  height: 426px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: var(--primary-bg-color);
  border-radius: 20px;

  .originalImg {
    top: 0;
    left: 0;
    width: fit-content;
    height: 100%;
    object-fit: cover;

    @media (max-width: 690px) {
      object-fit: contain;
    }
  }

  .closeBtnDiv {
    display: flex;
    position: absolute;
    right: 20px;
    top: 15px;
  }
}
