:root {
  --primary-bg-color: #f2f3f7;
  --btn-primary-font-color: white;
  --btn-upload: #3e97dc;
  --btn-upload-hover: #3e98dcb5;
  --btn-download: #7fb6e136;
  --btn-download-hover: #3e98dc65;
  --btn-download-font-color: #3e97dc;
  --btn-download-hover-2: rgba(173, 173, 173, 0.434);
  --btn-download-title: rgba(173, 173, 173, 0.884);
  --footer-text-hover: #3e98dcb5;
}
