.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;

  .panelDiv {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5rem;

    .colorPanelDiv {
      width: 50%;
      display: flex;
    }
    .togglePanelDiv {
      width: 35%;
      display: flex;
    }
  }

  .imgViewerDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 700px) {
    .panelDiv {
      flex-direction: column;
      .colorPanelDiv {
        justify-content: center;
        align-items: center;
      }

      .togglePanelDiv {
        justify-content: center;
        align-items: center;
      }
    }
  }
}
